#sales {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-size: larger; 
    background-color: #f5cac3;
    width: 400px;   

}



nav ul li  {
  display: inline-block;
  margin: 20px 60px;
  padding: 15px;
  width: 80px;
  background-color: #588157;
  color: white;
  border-radius: 50px;

}



    table , td, th {
        border: 1px solid black;
              }
      table {
        margin-top: 100 px;
        border-collapse: collapse;
      }

      input , label  {

        font-family: 'Lobster Two', cursive;
        letter-spacing: 2px;
    }
    legend {
      font-family: 'Poiret One', cursive;
      font-weight: bolder;
      text-shadow: brown;

    }
     


    input :focus {
    background-color: cadetblue;
    color: #ffcad4;
    }
    fieldset {
      width: 500px;
      margin-bottom: 60px;
      background-color: #fec5bb;
    }
     
    #submit {
      text-align: center;
      margin-left: 160px;
      margin-top: 30px;
    }
   