div {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-size: larger; 
    background-color: #f5cac3;
    width: 400px;   

}

    table , td, th {
        border: 1px solid black;
      }
      table {
        border-collapse: collapse;
      }