body {

background-image: url(../images/coc.jpg);

}
header {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    justify-content: flex-end;
    padding: 7px;
    margin: 6px 16px;
    background-color:#b0d1c2;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;

}
 h1 { 
     text-align: center;
    font-family: 'Ranchers', cursive;
    letter-spacing: 2px;
 }

div ,img{

    width: 60%;
    text-align: center;
}


.button {
    margin: 20px 0px 400px 6px;
    padding: 20px;
    background-color: #edc4b3;
    border: dotted black;
    border-radius: 50px;
    width: 100px;
}
.button :hover {
    background-color: #98c1d9;
    color: #a4161a;

}